.jp-Ksmm {
    color: var(--jp-ui-font-color1);
    background: var(--jp-layout-color1);
    display: flex;
    overflow: auto;
    position: absolute;
    width: 100%;
    left: 0;
}

.ksmm-button-disabled {
    color: var(--jp-brand-color1);
    opacity: 0.3;
}

.ksmm-button-enabled {
    color: var(--jp-brand-color1);;
}

div.card{
    margin: 12px;

}

.ksmm-tab-button {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.5;
}

.ksmm-card-container {
    display: flex;
    flex-wrap: wrap;
}

.ksmm-kernel-separator {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.ksmm-kernel-cards {
    width: 12rem;
    min-height: 12rem;
}

.ksmm-pointer {
    cursor: pointer;
}

.ksmm-button-container {
    margin: 5px;
    margin-left: 0px;
}